@import './variables';

// reset
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

//font
@import url('https://fonts.googleapis.com/css2?family=PT+Sans+Narrow:wght@400;700&display=swap');
body {
    font-family: 'PT Sans Narrow', sans-serif;
}

//container
.container {
    max-width: $widthContainer;
    margin: auto;
    color: #fff;
}

//reset list
ul {
    list-style: none;
}

//reset a
a {
    display: inline-block;
    text-decoration: none;
    text-transform: uppercase;
    font-size: .6875rem;
}