//flex-center-between
@mixin flex--SB-C{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
// background image
@mixin bgImg($pathImg) {
    background-image: url($pathImg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
// inlineList
@mixin inlineList {
    display: flex;
    margin: 0;
    padding: 0;
    list-style: none;
}